body {
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.header{
    background-color:yellow;
    margin-top:10px;
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    color:black;
   
}
.content{
    
    background-color:white;
    padding-top:10px;
    margin-left:20px;
    text-align: center;
    margin-right:20px;
    padding-bottom:10px;
    color:black;
}